.searchBtn{
    color: white;
    border-radius: 0px 20px 20px 0px;
    background-color: #4EA7F9;

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    p{
        padding: 15px 10px 15px 10px;
    }
}