
.title{
    
    display: flex;
    flex-direction: column;
    color: white;
}

.black{
    max-width: 800px;
    background-image: linear-gradient(to left,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
}
.main{
    max-width: 800px;
    padding: 70px 0px 0px 100px;
}

.main_title{
    font-size: 72px;
    margin-bottom: 20px;
}

.main_children{

    display: flex;
    align-items: flex-start;
    font-size: 24px;
    margin-bottom: 30%;
    span{

        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        &:first-child{
            margin-right: 15px;
            text-align: center;
            width: 87px;
            height: 30px;

            padding: 7px 12px 7px;
            border-radius: 8px;
            background-color: yellow;
            color: black;

            font-weight: 900;
            font-size: 12px;
            line-height: 15px;
        }
    }
    
}


.main_watch{
    border: 1px solid #ffffff;
    border-radius: 20px;
    max-width: 120px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    a{
        color: white;
    }
}

.main_awards{
    max-width: 300px;
    padding-bottom: 50px;
}

.description{
    color: #323232;
    margin: 50px 100px 0px 100px;
    
    p{
        max-width: 800px;
        margin: 0px 150px 0px 0px;
        &:first-child{
            margin-bottom: 20px;
            font-size: 36px;
            font-weight: 900;
            line-height: 52px;
        }
    }
}

.similars{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.similars_title{
    font-size: 24px;
    font-weight: 900;
    line-height: 52px;
}
.similars__list{
    display: flex;
    justify-content: space-between;
}



