.Main{
    color: white;
    
    
}

.Background{
    background: url(/src/img/background.png) 0 0/cover no-repeat;
    height: 100vh;
    
}
.Title{
    max-width: 728px;
    margin: 0px auto;
    padding-bottom: 40px;
     /* высота равна 100% дисплея */
}

.Content{
    display: block;
    height: 180px;
    overflow: hidden;
}

.Content_hidden{
    display: none;
    height: 180px;
    overflow: hidden;
}

.Content::-webkit-scrollbar{
    width: 0;
}

.Content:hover{
    background: rgb(22, 18, 18);
    position: absolute;
    top: 15%;
    left: 15%;
    height: 70vh;
    width: 70vw;

    border-radius: 60px;
    box-shadow: 0px 0px 20px rgb(109, 96, 96);

    overflow-y: scroll;
}