.searchInpt{
    border-radius: 20px 0px 0px 20px;
    background: white;
    
    input{
        margin: 5px 5px 5px 15px;
        
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #312E2E;
    }
}