.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 8em;

    background: #050505;
    box-shadow: 0px 5px 6px 0px #000000;
    position: relative;
    
}

.text{
    padding: 1em 0px 0px 1em;
    
    color: #FEFEFE;
    font-size: 3em;
    font-weight: 300; 
    line-height: 29.26px;
    &:hover{
        text-shadow: 2px 2px 18px rgb(255, 255, 255);
    }
}