.Main_title{
    div{
        &:first-child{
            font-size: 6em;
            font-weight: 900;
            line-height: 1em;
            text-align: center;
            margin-bottom: 15px;

        }
        &:last-child{
            font-size: 36px;
            font-weight: 500;
            line-height: 52px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}